{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    {% if is_not_subscrider %}
        <p class="text-center"><a href="={% url'subscribe' category.id %}" class="=btn btn-secondry btn-sm">Подписаться</a> </p>
    {% endif %}

   <h1>Всего публикаций : {{category_list|length}}</h1>
   <h3>Сегодня : {{ time_now|date:'M d Y' }} </h3>
   <!-- Если в переменной next_sale будет None,
   то выведется указанный в фильтре текст -->
   <h3> {{ fresh_news|default_if_none:"Обновляйте наше приложение, чтобы не пропустить свежие новости!" }} </h3>

<form action="" method="get">
       {{ filterset.form.as_p }}

       <input type="submit" value="Найти" />
</form>

   <hr>
{# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
     {% if perms.news.add_post %}
      <a href="{% url 'post_create' %}">Добавить новость</a>
        <a href="{% url 'ar_create' %}">Добавить cтатью</a>
      {% endif %}

       {% if category_list %}
       <table>
           <tr>
               <td>Название</td>
               <td>Дата публикации статьи</td>
               <td>Описание</td>
               <td>Рейтинг</td>
               <td>Категория</td>

               {# Условие получается составным. #}
                {% if perms.news.change_post or perms.news.delete_post %}
                <td>Действия</td>
                {% endif %}
           </tr>

           {% for p in category_list %}
           <tr>
               <td>{{ p }}</td>
               <td>{{ p.dateCreation }}</td>
               <td>{{ p.text|truncatewords:20 }}</td>
               <td>{{ p.rating }}</td>
               <td>{% for category in post.category.all %}
                   <a href="{% url 'categorys' category.id %}">{{ category }}</a>
                   {% endfor%}

               </td>

               <td> {% if perms.news.change_post %}
                        {% if p.categoryType ==  "NW" %}
                            <a href="{% url 'post_update' pk=p.id  %}" >Изменить</a>
                        {% else %}
                        <a href="{% url 'ar_update' pk=p.id  %}" >Изменить</a>
                        {% endif %}


               {% endif %}
               {% if perms.news.delete_post %}
                   {% if p.categoryType ==  "NW" %}
                        <a href="{% url 'post_delete' pk=p.id  %}" >Удалить</a>
                   {% else %}
                        <a href="{% url 'ar_delete' pk=p.id  %}" >Удалить</a>
                   {% endif %}
               {% endif %}

               </td>


           </tr>
           {% endfor %}

        </table>
       {% else %}
       <h2>Статей нет!</h2>
       {% endif %}

{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}