{% extends 'board/default.html' %}
{% load static %}
{% block title %}
Comments
{% endblock title %}

{% block content %}
<div class="features">
    <table>
        <img src="{% static 'board/img/dialog.png' %}"  alt="Диалог">
           <tr>

               <td> <h3>Объявление</h3> </td>
               <td> <h3>Комментарий</h3> </td>
               <td> <h3>Ответ от </h3> </td>
               <td> <h3>Текст</h3> </td>
           </tr>

        {% for p in comments %}
        {% if request.user == p.commentUser or request.user == p.commentUser.author or p.commentUser.author == p.commentUser %}


            <tr>
            {% if p.commentPost is not None %}

               <td><p><a href="{% url 'post' p.commentPost.id %}"><li>{{ p }}</li></a></p></td>

            {% else %}

                <td><p><a href="{% url 'corresp' p.id %}"><li>{{ p }}</li></a></p></td>

            {% endif %}
               <td><p>{{ p }}</p></td>




                {% for i in comments %}
                    {% if i.parent == p %}
                        <td><p>{{ i.commentUser }}</p></td>
                        <td><p><a href="{% url 'corresp' i.id %}"><li>{{ i }}</li></a></p></td>
                    {% endif %}
                {% endfor %}

        {% endif %}
            </tr>

        {% endfor %}

       </table>




</div>
{% endblock content %}