{% extends 'board/default.html' %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<div class="features">
    <h1>Вы читаете : {{post.title}}</h1>
    <h4>Сегодня : {{ time_now|date:'d M Y' }}</h4>
    <h4>Дата публикации статьи :{{ post.date_app|date:'d M Y'}} </h4>
    <hr>
    {% if post %}
    <table>
        <tr>
            <td><p>{{post.content|safe}}</p></td>
        </tr>
    </table>
    {% if request.user == post.author %}
    <a href="{% url 'post-delete' post.id %}" class="btn btn-danger">Удалить</a>
    <a href="{% url 'post-update' post.id %}" class="btn btn-info">Редактировать</a>
    {% endif %}
    <h3>Комментарии</h3>
    <tr>
    {% for i in post.commets.all %}
        <td><p>{{i.commentUser}}</p></td>
        <td><p>{{i.dateCreation}}</p></td>
        <td><p>{{i.text}}</p></td>
    </tr>
    {% if request.user == post.author %}
    <a href="{% url 'comment-delete' i.id %}" class="btn btn-danger">Удалить</a>
    <a href="{% url 'comment-response' i.id %}" class="btn btn-info">Ответить</a>

    {% endif %}
    {% endfor %}



    <form action="" id="add_form" method="post">
        {% csrf_token %}

        {{ form.as_p }}
        {{ text }}
        {{ parent }}

    {% if request.user.is_authenticated %}
        <button class="btn btn-success" form="add_form" type="submit" value="Save">Добавить комментарий</button>

    </form>
    {% else %}
    <h2>Чтобы оставить комментарий авторизуйтесь</h2>
    {% endif %}

    {% else %}
    <h2> "Статья удалена!" </h2>
    {% endif %}

</div>
{% endblock content %}