{% extends 'board/default.html' %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<div class="features">
   <h1>Вы читаете :  {{post.title}}</h1>
   <h4>Сегодня : {{ time_now|date:'d M Y' }}</h4>

   <h4>Дата публикации статьи :{{ post.date_app|date:'d M Y'}} </h4>


   <hr>
   {% if post %}
       <table>
           <tr>
               <td><p>{{post.content|safe}}</p></td>

           </tr>

       </table>
    <h1>Комментарий</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.media }}
            {{ form.as_p }}


          <button class="btn btn-success" type="submit" value="Save">Добавить комментарий</button>
        </form>
   {% else %}
       <h2> "Статья удалена!" </h2>
   {% endif %}

</div>
{% endblock content %}