{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="features">
<h1>Туст</h1>


{{ profile }}
{% for i in chat.messages.all %}
        <td><p>{{i.content}}</p></td>
        <td><p>{{i.date}}</p></td>
        <td><p>{{i.author}}</p></td>
    </tr>

    <a href="{% url 'room' i.room_from.id %}" class="btn btn-danger">Удалить</a>
    <a href="{% url 'room' i.room_from.id %}" class="btn btn-info">Ответить</a>


    {% endfor %}


<form method="post" id="add_form" action="" enctype="multipart/form-data">
        {% csrf_token %}
            {{ form.as_p }}



        <button type="submit" form="add_form" >Отправить сообщение.</button>
    </form>
</div>
{% endblock %}