{% extends 'base.html' %}

{% block title %}Создание объявления{% endblock %}

{% block content %}
<div class="features">
<h1>{{ chat.name }}</h1>

{% for i in chat.messages.values %}
        <td><p>{{i.content}}</p></td>
        <td><p>{{i.date}}</p></td>
        <td><p>{{i.author}}</p></td>
    {% if i.report %}
    <td><p>{{i.report}}</p></td>
    {% endif %}
    </tr>
<h2>Проверка{{i.author.author}}{{chat}}</h2>
    <a href="{% url 'room' chat.id %}" class="btn btn-danger">Удалить</a>
    <a href="#add_form" onclick="addReport(`{{i.content}}, {{i.id}}`)" class="btn btn-info">Ответить</a>


    {% endfor %}


<form method="post" id="add_form">
        {% csrf_token %}
        <input type="hidden" id="report" name="report">

            {{ form.content }}<br>


        <button type="submit" form="add_form" >Отправить сообщение.</button>
    <hr>
</form>

</div>
<script>
function addReport(author,id){
document.getElmentById('report').value = id;
document.getElmentById('cont').innerText = `${author},`
}
</script>
{% endblock %}
